


:root {
    --bg-gradient-onyx: linear-gradient(
        to bottom right, 
        hsl(240, 1%, 25%) 3%, 
        hsl(0, 0%, 19%) 97%
    );
}

.container-border{
box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
border: 1px solid hsl(0, 0%, 22%);
border-radius: 20px;
}

.divider {
    height: 1px;
    background-color: hsl(0, 0%, 22%);
  }
  
/* Estilo general del scrollbar */
::-webkit-scrollbar {
    width: 8px;  /* Ancho del scrollbar */
    height: 8px; /* Altura del scrollbar en scroll horizontal */
}

/* Estilo del track (barra de fondo) */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
}

/* Estilo base del pulgar (thumb) */
::-webkit-scrollbar-thumb {
    background-color: #aaa;  /* Color base del thumb */
    border-radius: 4px;
}

/* Estilo al pasar el ratón sobre la barra */
::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}
